body {
    background-image: url("https://st.depositphotos.com/1888461/1580/i/450/depositphotos_15807759-stock-photo-music-background-vintage-piano-design.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    width: 100%;

}